/.idea
/platforms
/plugins/cordova-plugin-androidx
/plugins/cordova-plugin-firebasex
/plugins/cordova-plugin-cocoapod-supportx
/plugins/cordova-plugin-whitelist
/plugins/android.json
/plugins/ios.json
/node_modules
/package-lock.json
/plugins/fetch.json
/service-account.json
/plugins/cordova-custom-config
/build.json
/plugins/cordova-plugin-androidx-adapter
/plugins/cordova-plugin-dialogs
GoogleService-Info.plist
google-services.json
/debug.keystore
/plugins/cordova-plugin-enable-multidex
/plugins/cordova-plugin-hello-c
/plugins/cordova.plugins.diagnostic
/plugins/cordova-plugin-facebook-connect
