* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

#log-output{
    background-color: lightgrey;
    white-space: normal;
    word-wrap: break-word;
}

#log-output > span{
    line-height: 20px;
    padding: 4px;
}

button {
    margin: 8px;
    padding: 4px 8px;
}

.log{
    color: black;
}
.info{
    color: blue;
}
.warn{
    color: orange;
}
.error{
    color: red;
}

::placeholder {
    color: #ccc;
}

.field{
    margin: 16px;
}

.section{
    border: 1px solid #ccc;
    padding: 8px;
    margin: 8px 0;
}

body:not(.android) .android-only,
body:not(.ios) .ios-only,
body:not(.autoinit-enabled) .autoinit-disable,
body:not(.autoinit-disabled) .autoinit-enable{
    display: none;
}
